# <center>AtliQ Hotels Data Analysis Project</center>
<center>Code Basics: Python For Beginner and Intermediate Learners</center>

In [2]:
# Import required libraries and datasets
import pandas as pd
df_bookings = pd.read_csv("fact_bookings.csv")
df_aggregated_bookings = pd.read_csv("fact_aggregated_bookings.csv")
df_date = pd.read_csv("dim_date.csv")
df_hotels = pd.read_csv("dim_hotels.csv")
df_rooms = pd.read_csv("dim_rooms.csv")

### Exploratory data analysis

In [3]:
df_bookings.head()

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,27-04-22,1/5/2022,2/5/2022,-3.0,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,30-04-22,1/5/2022,2/5/2022,2.0,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,28-04-22,1/5/2022,4/5/2022,2.0,RT1,logtrip,5.0,Checked Out,9100000,9100
3,May012216558RT14,16558,28-04-22,1/5/2022,2/5/2022,-2.0,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,27-04-22,1/5/2022,2/5/2022,4.0,RT1,direct online,5.0,Checked Out,10920,10920

In [9]:
df_bookings.shape

(134590, 12)

In [12]:
df_bookings.dtypes

booking_id            object
property_id            int64
booking_date          object
check_in_date         object
checkout_date         object
no_guests            float64
room_category         object
booking_platform      object
ratings_given        float64
booking_status        object
revenue_generated      int64
revenue_realized       int64
dtype: object

In [14]:
df_bookings.isnull().sum()

booking_id               0
property_id              0
booking_date             0
check_in_date            0
checkout_date            0
no_guests                3
room_category            0
booking_platform         0
ratings_given        77907
booking_status           0
revenue_generated        0
revenue_realized         0
dtype: int64

In [10]:
df_bookings.describe()

,property_id,no_guests,ratings_given,revenue_generated,revenue_realized
count,134590.000000,134587.000000,56683.000000,1.345900e+05,134590.000000
mean,18061.113493,2.036170,3.619004,1.537805e+04,12696.123256
std,1093.055847,1.034885,1.235009,9.303604e+04,6928.108124
min,16558.000000,-17.000000,1.000000,6.500000e+03,2600.000000
25%,17558.000000,1.000000,3.000000,9.900000e+03,7600.000000
50%,17564.000000,2.000000,4.000000,1.350000e+04,11700.000000
75%,18563.000000,2.000000,5.000000,1.800000e+04,15300.000000
max,19563.000000,6.000000,5.000000,2.856000e+07,45220.000000

In [15]:
df_bookings["room_category"].unique()

array(['RT1', 'RT2', 'RT3', 'RT4'], dtype=object)

In [16]:
df_bookings["booking_platform"].unique()

array(['direct online', 'others', 'logtrip', 'tripster', 'makeyourtrip',
       'journey', 'direct offline'], dtype=object)

In [17]:
df_bookings["booking_status"].unique()

array(['Checked Out', 'Cancelled', 'No Show'], dtype=object)

**Exercise-1. Find out unique property ids in aggregate bookings dataset**

In [18]:
df_aggregated_bookings["property_id"].unique()

array([16559, 19562, 19563, 17558, 16558, 17560, 19558, 19560, 17561,
       16560, 16561, 16562, 16563, 17559, 17562, 17563, 18558, 18559,
       18561, 18562, 18563, 19559, 19561, 17564, 18560], dtype=int64)

**Exercise-2. Find out total bookings per property_id**

In [24]:
df_aggregated_bookings.groupby("property_id")["successful_bookings"].sum()

property_id
16558    3153
16559    7338
16560    4693
16561    4418
16562    4820
16563    7211
17558    5053
17559    6142
17560    6013
17561    5183
17562    3424
17563    6337
17564    3982
18558    4475
18559    5256
18560    6638
18561    6458
18562    7333
18563    4737
19558    4400
19559    4729
19560    6079
19561    5736
19562    5812
19563    5413
Name: successful_bookings, dtype: int64

**Exercise-3: Find out days on which bookings are greater than capacity**

In [30]:
df_aggregated_bookings[df_aggregated_bookings["successful_bookings"] > df_aggregated_bookings["capacity"]]

      property_id check_in_date room_category  successful_bookings  capacity
3           17558      1-May-22           RT1                   30      19.0
12          16563      1-May-22           RT1                  100      41.0
4136        19558     11-Jun-22           RT2                   50      39.0
6209        19560      2-Jul-22           RT1                  123      26.0
8522        19559     25-Jul-22           RT1                   35      24.0
9194        18563     31-Jul-22           RT4                   20      18.0

**Exercise-4. Find out properties that have highest capacity**

In [35]:
df_aggregated_bookings[df_aggregated_bookings["capacity"] == df_aggregated_bookings["capacity"].max()]

      property_id check_in_date room_category  successful_bookings  capacity
27          17558      1-May-22           RT2                   38      50.0
128         17558      2-May-22           RT2                   27      50.0
229         17558      3-May-22           RT2                   26      50.0
328         17558      4-May-22           RT2                   27      50.0
428         17558      5-May-22           RT2                   29      50.0
...           ...           ...           ...                  ...       ...
8728        17558     27-Jul-22           RT2                   22      50.0
8828        17558     28-Jul-22           RT2                   21      50.0
8928        17558     29-Jul-22           RT2                   23      50.0
9028        17558     30-Jul-22           RT2                   32      50.0
9128        17558     31-Jul-22           RT2                   30      50.0

[92 rows x 5 columns]

## Outcomes of exploratory data analysis of fact-bookings table
1. Booking_date, check_in_date, check_out_date columns are not datetime data type
2. There are unlikely values (negative numbers) in "no_guests column"
3. There are likely outliers in revenue_generated column